*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 ol,ul,li{
    list-style: none;
 }
 a{
    text-decoration: none;   
 }
body{
 font-family: "Inter", sans-serif;
 background:#1A0B2E ;
/* background: linear-gradient(to right,#F7E93F 0%, #FB09B4 51%, #9100F8 100%); */
}
.container{
   max-width: 1200px;
   margin: 0 auto;
}
 .primary-btn{
background: linear-gradient(to right,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
padding: 12.5px 16px;
border: none;
border-radius:  15px;
cursor: pointer;
color: #fff;
font-weight: 600;
font-size: 16px;
transition: .5s ease-in-out;
border: 1px solid #FB09B4;
}
.primary-btn:hover{
   color:#00FF88 ;
   border: 1px solid #00FF88;
   background: transparent;

}
.secendry-btn{
   color:#00FF88 ;
   font-size: 16px;
   font-weight: 600;
   padding: 12px 20px;
  border-radius:  15px;
   border: 1px solid #00FF88;
   cursor: pointer;
   transition: .5s ease-in-out;
   background: transparent;
}
.secendry-btn:hover{
    color:#fff ;
 border: 1px solid #FB09B4;
   background: linear-gradient(to right,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.head-tittle{
text-align: center;
color: #fff;
font-weight:800 ;
font-size: 48px;
}



/* --------------------- NAVBAR SECTION START--------------- */
#navbar{
   border-bottom: 1px solid #412567;
   padding: 22px 0;
}
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color:white;
}
.navbar .logo img{
max-width: 219px;
}
.navbar .manu ul{
   display: flex;
   gap: 32px;
}
.navbar .manu ul li a{
   color:#fff ;
   font-size:16px ;
   font-weight:500 ;
}

.subscrive-btn .btn i{
   padding-left: 6.5px;
}
.hambar-icon{
   cursor: pointer;
   font-size:20px ;
}
/* --------------------- NAVBAR SECTION END--------------- */


